@import 'shared';

.SublayoutHeaderRight {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-end;

  .Icon.search {
    @include large {
      display: none;
    }
  }

  .Icon.search {
    @include medium {
      display: none;
    }
  }

  svg {
    cursor: pointer;
  }
}

.cui-menu {
  .cui-menu-divider {
    margin: 0;
  }

  .cui-button {
    height: 40px;
    min-height: 40px;
    line-height: 40px;
  }
}
